*{
   margin: 0;
   padding: 0;
}

#encabezado{
   position: sticky;
   top: 0px;
   height: 250px;
   width: auto;
   background-color: whitesmoke;
   background-image: url(imagenencabezado.jpg);
   background-size: 1500px;
   background-position: 0px;
   
}

.bikersTitulo{
    position: relative;
    color: rgb(192, 17, 17);
    font-size: 50px;
    height: 60px;
    background-color:goldenrod;
    
}

.menuDesplegable{
   height: 35px;
   width: 100px;
   margin: 0;
   padding: 0;
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   font-style: oblique;
}

#cajaMenu{
    /*background-color: rgb(128, 128, 128);
    width: 200px;
    height: 50;
    overflow: auto;
    border: none;
    width: 100px;
    height: auto;
    margin-top: 0px;*/

    
}

ul {
    list-style: none;
    font-size:0 /* truco por el uso de inline-block*/
 }
 li {
    display: inline-block;
    width: 25%;
    position:relative;
    font-size: 14px
 }
 ul ul {
    position: absolute;
    display: none;
 }
 ul ul li {
    display: block;
 }
 ul li:hover ul {
    display:block;
 }

 #menuServicios{
   background-color: rgb(46, 45, 45);
   width: 100px;
   height: 100px;
   overflow: auto;
   margin-top: 30px;
   margin-left: 75px;
   margin-right: 50px;
   padding: 50px 50px 50px 50px;
   border: none;
   display: inline-block;
 }

 .servicios{
    font-size: 25px;
    font-family: arial;
    color: white;
    margin-right: 50px;
    margin-left: 0px;
    text-align: center;
  
 }

 .textoPrin{
   width: 560px;
   height: 400px;
   overflow: auto;
   margin-top: 30px;
   margin-left: 0px;
   margin-right: 0px;
   padding: 50px 50px 50px 50px;
   border: none;
   display: inline-block;
 }

 .descripcion{
    font-family: arial;
    font-display:initial;
    text-align: justify;

 }